/* Variables globales */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --black-color: #000000;
  --font-size-base: 16px;
  --font-family: 'Arial', sans-serif;
  --padding: 10px;
  --font-size-large: 20px;
  --font-size-medium: 18px;
  --font-size-small: 14px;
  --header-padding: 1.25rem;
}

/* Reset global para márgenes y fuentes */
body {
  font-family: var(--font-family);
}

/* Estilos generales del encabezado */
.dashboard-header {
  background-color: #fff;
  padding: var(--header-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Mejora visual */
}

.dashboard-header__start {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  width: 4rem;
  height: auto;
}

.dashboard-header__start h2 {
  font-size: var(--font-size-large);
  color: var(--black-color);
  font-weight: bold;
}

/* Contenedor del perfil */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Círculo del perfil */
.profile-circle {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: var(--font-size-medium);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.profile-circle:hover {
  background-color: #357ae8;
}

/* Estilos para acciones de usuario */
.user-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Estilos para el submenú de perfil */
.sub-menu-wrap {
  position: absolute;
  top: 12%;
  right: 0;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 15px 0;
}

.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black-color);
  margin: 12px 0;
}

.sub-menu-link img {
  width: 40px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link:hover p {
  font-weight: 600;
}
