@import url("root.css");

p,
h1,
h2,
a {
  font-family: Arial, sans-serif;
  color: var(--text-dark);
}

header {
  grid-area: header;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2.5em;
  border-bottom: 1px solid var(--color-smooth-white);
}

/* Contenedor de botones funcionales */
.user-actions {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

/* Contenedor del botón de perfil */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el submenú de perfil */
.sub-menu-wrap {
  position: absolute;
  top: 10%;
  right: 0;
  width: 300px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: var(--color-white);
  padding: 1.5em;
  margin: 10px;
  border: 2px solid var(--color-smooth-white);
  border-radius: 2px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: var(--text-secondary);
  margin: 8px 0;
}

.user-info {
  display: flex;
  align-items: center;
  color: var(--text-dark);
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-active);
  margin: 8px 0;
}

.sub-menu-link img {
  /* background-color: var(--border-light);
  border-radius: 50%;*/
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link:hover p {
  font-weight: 600;
  color: var(--background-dark);
}

/* Barra de búsqueda */
.search-bar {
  display: flex;
  background-color: var(--background-light);
  border: 1px solid var(--color-smooth-white);
  border-radius: 4px;
  padding: 0.5rem;
}

.search-input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  background: transparent;
  color: var(--text-dark);
  width: 100%;
}

.icon {
  width: 30px;
  height: auto;
  filter: invert(35%) sepia(10%) saturate(80%) brightness(95%);
}

.icon:hover {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(200deg); /* Cambia el color */
}

/* Modificador de estilos de botones
.icon1 {
  background-color: #04aa6d;
}
.icon2 {
  background-color: #04aa6d;
}
.icon3 {
  background-color: #04aa6d;
}
.icon4 {
  background-color: #04aa6d;
} */
