@import url(root.css);
body {
  background-color: var(--background-light);
  font-family: var(--font-main);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  padding: 40px;
  border-radius: var(--radius-border);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  background-color: var(--color-white);
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 100%;
  display: block;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  text-decoration: none;
  border-radius: var(--radius-border);
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-top: 10px;
}

.btn-primary {
  background-color: var(--primary-hover);
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: var(--primary-active);
}

.form-link {
  display: flex;
  justify-content: right;
  padding-top: 10px;
}

.form-link a {
  color: var(--primary-hover);
  text-decoration: none;
  font-size: 14px;
}

.form-link a:hover {
  color: var(--background-dark);
}

.form-error {
  color: var(--danger);
  text-align: left;
  margin-bottom: 20px;
}

.login-form {
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--radius-border);
}

.form-field {
  position: relative;
  margin-bottom: 12px;
}

.form-input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #dddfe2;
}

.input-label {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 14px;
  padding: 0 5px;
  color: #a6a6a6;
  transition: 0.3s;
  pointer-events: none;
}

.form-input:focus + .input-label,
.form-input:not(:placeholder-shown) + .input-label {
  top: -10px;
  background-color: var(--color-white);
}
