:root {
    /* Definir tamaños */
    --padding-container: 40px;
    --max-width-container: 400px;
    --padding-button: 10px;
    --font-size-button: 16px;
    --font-size-link: 14px;
    --font-size-placeholder: 14px;
    --padding-input: 10px;
    --border-radius: 6px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --margin-top-button: 10px;
    --margin-bottom-error: 20px;
    --padding-form: 30px 20px;
    --padding-placeholder: 5px;

    /* Colores */
    --color-fondo: #f2f2f2;
    --color-blanco: #ffffff;
    --color-azul: #007bff;
    --color-azul-oscuro: #0056b3;
    --color-rojo: #dc3545;
    --color-gris: #dddfe2;
    --color-gris-claro: #a6a6a6;
    --fuente-principal: Arial, sans-serif;
}

body {
    background-color: var(--color-fondo);
    font-family: var(--fuente-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    padding: var(--padding-container);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: var(--max-width-container);
    width: 100%;
    background-color: var(--color-blanco);
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 100%;
    display: block;
}

.btn {
    width: 100%;
    padding: var(--padding-button);
    border: none;
    text-decoration: none;
    border-radius: var(--border-radius);
    color: var(--color-fondo);
    font-size: var(--font-size-button);
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: var(--margin-top-button);
}

.btn-primary {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    border: 2px solid transparent;
}

.btn-primary:hover {
    background-color: var(--color-blanco);
    color: var(--color-azul-oscuro);
    border-color: var(--color-azul-oscuro);
}

.form-link {
    display: flex;
    justify-content: right;
    padding-top: var(--padding-button);
}

.form-link a {
    color: var(--color-azul);
    text-decoration: none;
    font-size: var(--font-size-link);
}

.form-link a:hover {
    color: var(--color-azul-oscuro);
}

.form-error {
    color: var(--color-rojo);
    text-align: left;
    margin-bottom: var(--margin-bottom-error);
}

.login-form {
    padding: var(--padding-form);
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--border-radius);
}

.form-field {
    position: relative;
    margin-bottom: 12px;
}

.form-input {
    padding: var(--padding-input);
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid var(--color-gris);
}

.input-label {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: var(--font-size-placeholder);
    padding: 0 var(--padding-placeholder);
    color: var(--color-gris-claro);
    transition: 0.3s;
    pointer-events: none;
}

.form-input:focus + .input-label,
.form-input:not(:placeholder-shown) + .input-label {
    top: -10px;
    background-color: var(--color-blanco);
}
