@import url(root.css);
html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
}
#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar.close {
  padding: 5px;
  width: 60px;
}
#sidebar ul {
  list-style: none;
}
#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: 600;
  }
}
#sidebar ul li.active a {
  color: var(--accent-clr);

  svg {
    fill: var(--accent-clr);
  }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}
#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}
#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}
#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.rotate svg:last-child {
  rotate: 180deg;
}
#sidebar .sub-menu a {
  padding-left: 2em;
}
#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover {
  background-color: var(--hover-clr);
}
main {
  padding: min(30px, 7%);
}
main p {
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}
.container {
  border: 1px solid var(--line-clr);
  border-radius: var(--radius-size);
  margin-bottom: 20px;
  padding: min(3em, 15%);

  h2,
  p {
    margin-top: 1em;
  }
}
@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  main {
    padding: 2em 1em 60px 1em;
  }
  .container {
    border: none;
    padding: 0;
  }
  #sidebar {
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--line-clr);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }
    ul li {
      height: 100%;
    }
    ul a,
    ul .dropdown-btn {
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span,
    ul li:first-child,
    .dropdown-btn svg:last-child {
      display: none;
    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 1px solid var(--line-clr);
      display: flex;
      justify-content: center;

      > div {
        overflow-x: auto;
      }
      li {
        display: inline-flex;
      }
      a {
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}

/*Page: Home*/
.welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome-content {
  max-width: 50%;
  text-align: left;
  animation: fadeIn 2s ease-in-out;
}
.welcome-image {
  max-width: 45%;
  text-align: right;
}
.welcome-image img {
  max-width: 100%;
  max-height: 90%;
  height: auto;
  object-fit: contain;
}

/*Container: data*/
.data-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
}

/* Stats Cards */
.stats-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-column: 1 / -1;
}
.stat-card {
  background-color: var(--hover-clr);
  color: var(--text-clr);
  padding: 20px;
  border-radius: var(--radius-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--line-clr);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.stat-info h3 {
  font-size: 1.5rem;
  margin: 0;
  color: var(--text-clr);
}
.stat-info p {
  color: var(--secondary-text-clr);
}
.positive {
  color: var(--accent-clr);
}
.negative {
  color: var(--error-clr);
}

/* Stats Cards: Effects */
.stat-card.active:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.stat-card.active:hover a {
  background-color: var(--accent-clr);
  border-radius: var(--radius-size);
  padding: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}
.stat-card.active:hover a img {
  filter: brightness(1.2);
  transform: scale(1.1);
  transition: transform 0.2s ease, filter 0.2s ease;
}

/* Welcome Section */
.welcome-section {
  grid-column: 1 / -1;
  background-color: var(--hover-clr);
  border-radius: var(--radius-size);
  padding: 30px;
}
.welcome-section h3 {
  margin: 0;
  font-size: 2rem;
  color: var(--text-clr);
}
.welcome-section p {
  color: var(--secondary-text-clr);
}
.link-icon {
  color: var(--accent-clr);
  display: flex;
  align-items: center;
  gap: 5px;
}
.link-icon:hover {
  color: var(--text-clr);
}

/*General bar search*/
.search-filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-size);
}
#search-bar {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--line-clr);
  border-radius: var(--radius-size);
  background-color: var(--base-clr);
  color: var(--text-clr);
}
#category-filter,
#sort-filter {
  padding: 10px;
  border: 1px solid var(--line-clr);
  border-radius: var(--radius-size);
  background-color: var(--base-clr);
  color: var(--text-clr);
}

/**/
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: start;
}
.product-card {
  background-color: var(--hover-clr);
  border-radius: var(--radius-size);
  padding: 15px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* height: 100%; */
  margin-bottom: 20px;
}
.product-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.product-info {
  flex-grow: 1;
}
.product-info h3 {
  color: var(--text-clr);
  margin: 10px 0;
  font-size: 1.2rem;
}
.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent-clr);
}
.stock {
  font-size: 0.9rem;
  color: var(--secondary-text-clr);
}

/*Table style*/
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: var(--radius-size);
  border: 1px solid var(--line-clr);
}
.user-table th,
.user-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--line-clr);
}
.user-table th {
  background-color: var(--hover-clr);
  color: var(--text-clr);
}
.user-table tr:hover {
  background-color: var(--hover-clr);
}
.user-table .action-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  transition: transform 0.2s ease-in-out;
}
.user-table a {
  display: inline-block;
}
.user-table a:hover .action-icon {
  transform: scale(1.1);
}

.icon-container {
  display: flex;
  gap: 15px;
}
.icon {
  width: 24px;
  height: 24px;
}

.top-products {
  list-style: none;
  padding: 0;
}
.top-products li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.progress-bar {
  width: 150px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.progress {
  height: 100%;
  background-color: var(--accent-clr);
  transition: width 0.5s ease-in-out;
}
.stat-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notification-btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-menu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 250px;
  background-color: var(--hover-clr);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  padding: 15px;
  border: 1px solid var(--line-clr);
  z-index: 100;
}
.notification-menu h4 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--accent-clr);
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-icon {
  width: 20px;
  height: 20px;
}
.notification-menu ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.notification-menu ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--line-clr);
  font-size: 0.9rem;
  color: var(--text-clr);
  gap: 10px;
}
.notif-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.notification-menu ul li small {
  color: var(--secondary-text-clr);
}
.view-all {
  text-align: center;
  display: block;
  color: var(--accent-clr);
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
}
.view-all:hover {
  color: var(--text-clr);
}

/*Efectos*/

.config-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaciado entre los campos */
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-clr);
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid var(--line-clr);
  border-radius: var(--radius-size);
  background-color: var(--base-clr);
  color: var(--text-clr);
  font-size: 1rem;
}

.form-group input:focus,
.form-group select:focus {
  border-color: var(--accent-clr);
  outline: none;
  box-shadow: 0 0 5px var(--accent-clr);
}

.dashboard-stats {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.stat-card {
  background: var(--primary-clr);
  padding: 15px;
  border-radius: var(--radius-size);
  text-align: center;
  color: white;
  width: 100%;
}

.card {
  background: white;
  padding: 15px;
  border-radius: var(--radius-size);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.status {
  padding: 5px 10px;
  border-radius: var(--radius-size);
  font-weight: bold;
}

.completed {
  background: green;
  color: white;
}
.pending {
  background: orange;
  color: white;
}
.canceled {
  background: red;
  color: white;
}

.product-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.price {
  font-weight: bold;
}
